@{
    Layout = null; 
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forbidden!</title>
    <style>
        h1 {
            font-size: 15vmin;
            margin-bottom: 0;
        }

        h2 {
            font-size: 5vmin;
            margin-top: 0;
            margin-bottom: 40px;
        }

        body {
            height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: white;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        #jail {
            position: relative;
            border: 2px solid gray;
            border-radius: 50%;
            width: 32px;
            height: 32px;
        }

        #spinner {
            display: none;
            position: absolute;
            width: 100px;
            height: 100px;
            left: 50%;
            top: 50%;
            transform-origin: 50% 50%;
        }

        body.seenMouse #spinner {
            display: block;
        }

    </style>
</head>

<body>
    <h1>Forbidden!</h1>
    <h2>Code 403</h2>
    <div id="jail">
        <svg xmlns="http://www.w3.org/2000/svg"
             xmlns:xhtml="http://www.w3.org/1999/xhtml"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             version="1.1"
             viewBox="0 0 1000 1000"
             preserveAspectRatio="xMinYMin"
             id="spinner">
            <defs>
                <path id="textPath" d="M 250 500 A 250,250 0 1 1 250 500.0001" />
            </defs>
            <text x="0" y="0" text-anchor="left" style="font-size:90pt;">
                <textPath xlink:href="#textPath" startOffset="0%">MOUSE JAIL</textPath>
                <textPath xlink:href="#textPath" startOffset="50%">MOUSE JAIL</textPath>
            </text>
        </svg>
        <div id="cursor"></div>
    </div>
</body>
</html>
