@model OnlineMobileStore.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="order-details">
    <h1>Order Details</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Item Image</th>
                <th>Item Name</th>
                <th>Item Quantity </th>
                <th>Item Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td><img src="/MyImages/mobile/@item.Image" style="height: 4em" /></td>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td>@(item.Quantity * item.Price)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index" class="btn btn-main mt-20">Back to List</a>
</div>
