@model IEnumerable<OnlineMobileStore.Models.Order>

@{
	ViewData["Title"] = "Total Orders";
	Layout = "~/Views/Shared/AfterLogin.cshtml";
}


<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a class="active" href="/Profile/Index">Profile Details</a></li>
						<li><a class="active" href="/Profile/History">Orders</a></li>
						<li><a class="active" href="/Profile/EditProfile">Edit Profile</a></li>
				</ul>
				@if (!Model.Any())
				{
					<h3 class="text-center">You Don't Make any Orders </h3>
					<h4 class="text-center">Let's Shop Now</h4>
					<p class="text-center"><a asp-controller="Home" asp-action="Index" class="btn btn-main 20"> Shop Now</a></p>
				}
				else
				{
<div class="total-order mt-20">
	<h4>Total Orders</h4>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Order ID</th>
					<th>Date</th>
					<th> Total Items</th>
					<th>Total Price</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
@foreach (var item in Model) 
{
				<tr>
					<td>@item.Id</td>
					<td>@item.OrderDate</td>
					<td>@item.TotalItems</td>
					<td>$@item.TotalPrice</td>
					<td><span class="label label-success">Completed</span></td>
				    <td><a asp-controller="Profile" asp-action="OrderDetails" asp-route-id="@item.Id" class="btn btn-default">View Details</a></td>
				</tr>
}
			</tbody>
		</table>
	</div>
</div>

}
			</div>
		</div>
	</div>
</section>